<table class="table">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Editar/Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarefa of tarefas">
      <th scope="row">{{tarefa.id}}</th>
      <td>{{tarefa.title}}</td>
      <td>{{tarefa.description}}</td>
      <td><button routerLink="/tarefas/{{tarefa.id}}" class="btn btn-outline-success ml-2" type="submit">Editar</button>
          <button routerLink="/tarefas/delete/{{tarefa.id}}" class="btn btn-outline-danger ml-2" type="submit">Excluir</button>
      </td>
  </tbody>
</table>